body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body.dark-theme {
    background-color: #000000;
    color: #fff;
}

.card {
    transition: all 0.5s ease;
}

.card-body p {
    max-height: 50px; /* Ограничиваем высоту */
    overflow: hidden; /* Прячем текст, выходящий за пределы */
    text-overflow: ellipsis; /* Добавляем многоточие */
    display: -webkit-box; /* Для совместимости с браузерами */
    -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию */
}



body.dark-theme .card {
    background-color: #333; /* Темный фон карточек */
    color: #fff; /* Белый текст */
    border: 1px solid #444; /* Темная граница */
}


body, .navbar, header, .nav-link, .navbar-brand i {
    transition: all 0.8s ease;
}

.navbar-collapse {
    transition: all 0.5s ease;
}

header {
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.180);
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.171);
}

/* Навигационные ссылки (светлая тема) */
.nav-link {
    color: #000; /* Основной цвет ссылок */
    font-weight: bold; /* Толщина шрифта */
    transition: color 0.3s; /* Плавный переход цвета */
}

/* Светлая тема (по умолчанию) */
.nav-link:hover {
    color: #9ec9fa !important; /* Цвет при наведении в светлой теме */
}

.nav-link.active {
    color: #3292ff !important; /* Цвет активной ссылки в светлой теме */
}


/* Темная тема */
body.dark-theme .nav-link:hover {
    color: #9ec9fa !important; /* Цвет при наведении в темной теме */
}

body.dark-theme .nav-link.active {
    color: #3292ff !important; /* Цвет активной ссылки в темной теме */
}

/* Навигационные ссылки (темная тема) */
body.dark-theme .nav-link {
    color: #fff !important; /* Основной цвет ссылок в темной теме */
}

.dark-theme-header {
    background-color: #000000;
    color: white;
    border-bottom-color: #333;
}
  
  /* Темная тема для кнопки поиска */
  body.dark-theme #searchButton {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  body.dark-theme #themeToggle {
    background-color: rgb(255, 255, 255);
    color: black;
  }


#searchInput {
    transition: all 0.3s ease; /* Плавный переход при показе/скрытии */
}

  /* Стили для кнопки переключения темы */
#themeToggle {
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

/* Подсветка кнопки в темной теме */
body.dark-theme #themeToggle:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Подсветка фона при наведении */
    color: white; /* Цвет текста при наведении */
    border: black; /* Убираем обводку при наведении */
}

  /* Отступ между кнопками */
#searchToggle {
    margin-left: 10px;
  }

  
  /* Стили для темной темы */
  body.dark-theme .btn-outline-secondary {
    background-color: white;
    color: black;
  }
  
  body.dark-theme #searchToggle {
    background-color: white;
    color: black;
  }
  
  body.dark-theme #themeToggle {
    background-color: white;
    color: black;
  }
  
  /* Переходы при смене темы */
  .btn-outline-secondary, .btn-outline-secondary:hover {
    transition: all 0.5s ease;
  }

  /* Стили для активной кнопки поиска */
#searchToggle.active {
  background-color: #007bff; /* Синий фон при активном состоянии */
  color: white;              /* Белый текст */
  border-color: #007bff;     /* Синяя граница */
}

/* Стили для темной темы, когда кнопка активна */
body.dark-theme #searchToggle.active {
  background-color: #ffae00; /* Оранжевый фон в темной теме */
  color: black;              /* Черный текст */
  border-color: #ffae00;     /* Оранжевая граница */
}
  
.dark-theme-text {
    color: white;
}
.dark-theme-icon {
    color: white;
}

.dark-theme-button {
    background-color: rgb(255, 255, 255);
    color: black;
}

p {
    font-size: 15px;
}

.text {
    font-size: 25px;
    color: black;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-center {
    width: 100%;
}


button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

table th, table td {
    padding: 10px;
}

.links {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 0;
}
  
.links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}
  
.links a:hover {
    color: #0077ff;
}

.links a.active {
    color: #0077ff;
}

.links a.active:hover {
    color: #0093e2;
}
  
footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

main {
    display: grid;
    padding: 20px;
    justify-content: center;
}

p {
    font-size: 23px;
}

button {
    margin-bottom: 9px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}





/* Стили для кнопки "Дивитись рецепт" */

/* Базовый стиль для кнопки "Дивитись рецепт" */
.btn.bg-dark {
    background-color: #007bff; /* Цвет кнопки в светлой теме */
    color: white; /* Цвет текста в светлой теме */
    border: none; /* Без границы */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
    padding: 10px 20px; /* Отступы для кнопки */
    border-radius: 4px; /* Закругление углов кнопки */
}

/* Подсветка при наведении в светлой теме */
.btn.bg-dark:hover {
    background-color: #007bff !important; /* Цвет кнопки при наведении в светлой теме */
}

/* Темная тема */
.dark-theme .btn.bg-dark {
    background-color: #495057 !important; /* Цвет кнопки в темной теме */
    color: white; /* Цвет текста в темной теме */
}

/* Подсветка при наведении в темной теме */
.dark-theme .btn.bg-dark:hover {
    background-color: #0056b3 !important; /* Цвет кнопки при наведении в темной теме */
}





/* Стили для кнопки лайка */
.btn.bg-secondary-subtle {
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без границы */
    cursor: pointer; /* Указатель при наведении */
    transition: color 0.3s; /* Плавный переход */
}

.btn.bg-secondary-subtle:hover {
    color: #646363; /* Цвет сердечка при наведении */
}

.btn.bg-secondary-subtle.red {
    color: red; /* Красный цвет сердечка при нажатии */
}

/* Анимация нажатия */
.btn.bg-secondary-subtle:active {
    transform: scale(0.9); /* Уменьшение кнопки при нажатии */
    transition: transform 0.1s; /* Плавный переход при нажатии */
}

.btn.bg-secondary-subtle {
    color: #333; /* Цвет текста по умолчанию */
}

.btn.bg-secondary-subtle.active {
    color: red; /* Цвет текста при активной кнопке */
}

img {
    width: 300px;
}

.card > img {
    width: 100%; /* Занимает всю ширину карточки */
    height: 250px; /* Фиксированная высота, чтобы все изображения были одного размера */
    object-fit: cover; /* Сохранение пропорций, центрирование и обрезка */
    margin: auto;
    margin-top: 3px;
    border-radius: 8px; /* Если нужно закруглить углы */
}

.card {
    background-color: white; /* Основной фон карточки */
    border: 1px solid #ccc; /* Светлая рамка по умолчанию */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для эффекта */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Эффект тени */
}

.card:hover {
    transform: translateY(-5px); /* Двигает карточку вверх на 5px */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Увеличивает тень при наведении */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для движения и тени */
}


.card-body-theme {
    background-color: #333; /* Темный фон карточки в темной теме */
    color: white; /* Цвет текста в темной теме */
}

/* Стиль для темной темы */
.dark-theme .card {
    background-color: #333; /* Темный фон карточки */
    border-color: black; /* Черная рамка */
}

.card-body div {
    display: flex; /* Используем flexbox для выравнивания */
    margin-bottom: 5px; /* Отступ между элементами */
}

.card-body div i {
 margin-top: 5px;
}

.card-body div p {
    margin-right: 5px;
}

.card-body p {
    font-size: 16px; /* Уменьшение размера текста */
    white-space: normal; /* Текст может переноситься на несколько строк */
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Точки в конце текста */
}


.card-body div {
    overflow: hidden;           /* Скрывает лишний текст */
    text-overflow: ellipsis;   /* Добавляет многоточие (...) */
    white-space: nowrap;        /* Запрещает перенос строк */
    max-width: 100%;           /* Устанавливает максимальную ширину */
}




.add-dish-btn {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 1rem;
    transition: color 0.3s, transform 0.3s;
}

.add-dish-btn:hover {
    color: #0056b3;
    transform: scale(1.2);
}



/* Скрыть форму по умолчанию */
#addDishForm {
    display: none;
}

/* Контейнер для кнопки добавления */
.btn-container {
    display: block;
}

/* Контейнер для формы, скрыть кнопку "Додати нове блюдо" */
.form-container {
    display: block;
}

/* Кнопка добавления страви */
.add-dish-btn {
    background-color: transparent; /* Убираем фон */
    border: none; /* Убираем бордер */
    color: inherit; /* Наследуем цвет текста */
    font-size: 1.2em;
    text-align: center;
    padding: 15px 0;
}

/* Для светлой и темной темы */
body.light-theme .add-dish-btn {
    color: black;
}

body.dark-theme .add-dish-btn {
    color: white;
}

/* Форма для добавления страви */
.form-container {
    display: none;
}

.star-rating {
    font-size: 1.5em;
    color: #ccc;
}

.star-rating .star {
    cursor: pointer;
    margin-right: 5px;
}

.star-rating .star.selected {
    color: #ffae00; /* Золотой цвет для выбранных звезд */
}

.rating-label {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.card {
    border: 1px solid #ddd;
}

.card .btn {
    font-size: 1.1em;
}

/* Кнопки внутри формы */
button {
    font-size: 1em;
    padding: 10px;
}

/* Для скрытия кнопки при открытии формы */
#addDishForm {
    display: none;
}

/* Стили для текста в темной теме */
body.dark-theme .add-dish-btn span, 
body.dark-theme #addDishForm h4, 
body.dark-theme .rating-label {
    color: white; /* Белый цвет для текста */
}

/* Стили для кнопки и заголовков в светлой теме */
body.light-theme .add-dish-btn span,
body.light-theme #addDishForm h4, 
body.light-theme .rating-label {
    color: black; /* Черный цвет для текста */
}


.footer-bottom {
    display: flex;
    align-items: center; /* Выравнивание по вертикали по центру */
    justify-content: center; /* Выравнивание по горизонтали по центру */
}

.footer-admin-button a {
    font-size: 15px; /* Размер иконки */
}

.footer-admin-button a:hover {
    background-color: #007bff; /* Цвет фона при наведении */
}

.gradient-text {
    font-family: 'Georgia', serif;
    font-size: 48px;
    text-align: center;
    background: linear-gradient(to right, #005BBB, #FFD700); /* Синий-желтый градиент, как флаг Украины */
    -webkit-background-clip: text; /* Для WebKit браузеров (Chrome, Safari) */
    background-clip: text; /* Для остальных браузеров */
    color: transparent; /* Делаем текст прозрачным, чтобы виден был только градиент */
    margin-bottom: 20px;
    padding: 10px;
}













/* Контейнер для фона */
.video-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Занимает весь экран */
    overflow: hidden; /* Обрезает видео, если оно выходит за пределы контейнера */
}

/* Видео */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Видео будет растягиваться, чтобы полностью покрыть экран */
    z-index: -1; /* Размещает видео на заднем плане */
}

/* Содержание на фоне */
.content {
    position: relative;
    z-index: 1; /* Содержимое будет отображаться поверх видео */
    text-align: center;
    color: white;
    padding-top: 20%;
}

/* Заголовок */
h1 {
    font-size: 3em;
    margin: 0;
}

/* Текст */
p {
    font-size: 1.5em;
}









@media (max-width: 576px) {
    .card {
        flex: 1 1 100%; /* 1 карточка в ряду */
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .card {
        flex: 1 1 45%; /* 2 карточки в ряду */
    }
}

@media (min-width: 769px) {
    .card {
        flex: 1 1 30%; /* 3 карточки в ряду */
    }
}
